<!DOCTYPE html>
<html>
<head>
    <title>Login with Firebase</title>
    <script type="module">
        // Import the necessary Firebase modules
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js";
        import { getAuth, GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-auth.js";

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyA8d5XfMBK2X4Udf-pD9vWHS1SYeex8Qo4",
            authDomain: "carbon-track-system.firebaseapp.com",
            projectId: "carbon-track-system",
            storageBucket: "carbon-track-system.appspot.com",
            messagingSenderId: "617921267809",
            appId: "1:617921267809:web:47601de3a68a0ea29c4220"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        // Get the Firebase Auth instance
        const auth = getAuth();

        // Function to sign in with Google
        function signInWithGoogle() {
            const provider = new GoogleAuthProvider();
            signInWithPopup(auth, provider)
                .then((result) => {
                    // User signed in with Google
                    console.log(result.user);
                })
                .catch((error) => {
                    // Handle sign-in errors
                    console.error(error);
                });
        }

        signInWithGoogle()
    </script>
</head>
<body>
    <h1>Login with Firebase</h1>
</body>
</html>
